* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.pokemon__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 60px;
}

.list {
    width: 250px;
    height: 430px;
    border-radius: 10px;
    background: #FFFF00;
    box-shadow: 0px -2px 6px 0px #0A254059 inset;
    box-shadow: 0px 30px 60px -30px #0000004D;
    box-shadow: 0px 50px 100px -20px #32325D40;
}

.text {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #212529;
    text-align: center;
    padding-top: 30px;
}

.img {
    padding: 28px 65px;
}

.btn {
    width: 130px;
    height: 40px;
    border-radius: 20px;
    background: #C4E4FF;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #212529;
    margin: 10px 60px;
}

.text2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #212529;
    text-align: center;
}

.text3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #212529;
    text-align: center;
}

.text4 {
    font-weight: 900;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #80007C;
    text-align: center;
}

.btn2 {
    width: 50px;
    height: 34px;
    background-color: #00FFFF;
    border: none;
    font-weight: 800;
    font-size: 15.75px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #000;
    margin-top: -1px;
    border-bottom-left-radius: 10px;
}

.btn3 {
    width: 37px;
    height: 34px;
    background: #FF0000;
    border: none;
    font-weight: 800;
    font-size: 15.5px;
    line-height: 24px;
    letter-spacing: 0%;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    display: flex;
    margin-left: 213px;
}

.img2 {
    margin: 146px 380px;
}

body {
    background-color: #000;
}

.input {
    width: 209px;
    height: 36px;
    border-radius: 6px;
    border-width: 1px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    font-weight: 400;
    font-size: 15.88px;
    line-height: 18.6px;
    letter-spacing: 0%;
    color: #6C757D;
    margin-left: 70px;
}

.select {
    width: 209px;
    height: 36px;
    border-radius: 6px;
    border-width: 1px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    font-weight: 400;
    font-size: 15.88px;
    line-height: 18.6px;
    letter-spacing: 0%;
    color: #303132;
}

.form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btnn {
    width: 211px;
    height: 36px;
    border-radius: 6px;
    border-width: 1px;
    background: #198754;
    border: 1px solid #198754;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
    text-align: center;
}

.btnnn{
    width: 209px;
    height: 36px;
    border-radius: 6px;
    border-width: 1px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    font-weight: 400;
    font-size: 15.88px;
    line-height: 18.6px;
    letter-spacing: 0%;
    color: #000000;
}